<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p>
        {{title | summary}}
      </p>

      <p>
        {{title | summary : 100}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="searchField">
          <option value="name">Filter by Name</option>
          <option value="team">Filter by Team</option>
          <option value="yearDebut">Filter by YearDebut</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchValue">
      </div>
    </div>
</div>

   <div class="row">
    <div class="col-12">
     <div class="col-md-8 offset-md-2">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Team</th>
          <th>Odi Runs</th>
          <th>Test Runs</th>
          <th>YearDebut</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let player of playersArr | filter : searchValue : searchField; let i = index">
          <td>{{i + 1}}</td>
          <td>{{player.name}}</td>
          <td>{{player.team}}</td>
          <td>{{player.odiRuns}}</td>
          <td>{{player.testRuns}}</td>
          <td>{{player.yearDebut}}</td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
   </div>

   <div class="row">
      <div class="col-4" *ngFor="let reel of reelsArr">
      <app-reelCard [reelCard]="reel" ></app-reelCard>
    </div>
  </div>
</div>

